{% extends 'blog/base.html' %}

<br><br>
<hr>
<br><br>

{% block content%}

<a href= "{% url 'posts'%}">Go Back</a>
<br><br>
<h2>
   {{post.title}}
</h2>
<br><br>
<span>
    author: {{post.author.username}}
</span>
<span>
    date: {{post.published_date}}
</span>
<br><br>
<hr>
<br><br>
<p>
    {{post.content}}
</p>
<p>Tags: 
    {% for tag in post.tags.all %}
    <!-- Tags should be linked to the a lis of posts by tag-->
        <a href="{% url 'posts_by_tag' tag_slug=tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
<br><br>

<h2>Comments:</h2>
<br>
<ul>
    {% if request.user.is_authenticated %}
        {% for comment in comments %}
        <li>
            <strong>{{ comment.author.username }}</strong> commented:
            <p>{{ comment.content }}</p>
            {% if request.user == comment.author %}
            <a href="{% url 'comment-edit' post.id comment.id %}">Edit</a>
            <a href="{% url 'comment-delete' post.id comment.id %}">Delete</a>
            {% endif %}
        </li>
        <br>
        {% empty %}
        <p>No comments yet.</p>
    <br><br>
      
        {% endfor %}
    <a href="{% url 'comment-create' post.id %}">Add comment</a>  
    {% else %}
    
    <p>Login to view comments</p>
    {% endif %}

</ul>


{% endblock %}